@{
    ViewBag.Title = "About";
}

@section styles{

    <!--page level css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Public/css/slick.css">
    <link rel="stylesheet" href="~/Public/css/slick-theme.css">
    <link rel="stylesheet" href="~/Public/sass/style.css">


}
<main>
    <section id="About">
        <div class="holder">
            <div class="container">
                <div class="row">
                    <div class="text-holder">
                        <h1>About <span>Us</span></h1>
                        <p>
                            Home /<a href="#"> About Us</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Us">
        <div class="container">
            <div class="row">
                <div class="text-holder">
                    <h1>About <span> Us</span></h1>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, laboriosam incidunt eum mollitia sed sequi dolor eos voluptates provident consectetur quam, autem dignissimos perspiciatis unde, excepturi expedita vitae esse eligendi.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id impedit recusandae incidunt dolorum quia sit nesciunt, eum eaque alias deserunt voluptates omnis distinctio ad illum dolor blanditiis numquam fuga voluptate!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore doloremque nesciunt facere debitis iusto quam cupiditate facilis accusantium ab fugit unde perferendis autem voluptate neque aliquam, omnis consectetur! Repudiandae, nemo!
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat inventore necessitatibus accusamus molestias repellendus error illo culpa asperiores quia, vitae voluptatem omnis at, doloribus reiciendis nihil ad eaque impedit unde.
                    </p>
                </div>

            </div>
        </div>
    </section>
</main>


@section scripts{

    <script src="~/Public/js/jquery-3.4.1.js"></script>
    <script src="~/Public/js/slick.js"></script>
    <script src="~/Public/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/Public/js/checkout.js"></script>
    <script src="~/Public/js/main.js"></script>


}
