
@{
    ViewBag.Title = "Cart";
}



@section styles{

    <!--page level css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Public/sass/style.css">


}

<main>

    <section id="photo">
        <div class="photo-holder position-relative">

            <div class="layer position-absolute">
                <div class="text-holder">
                    <h1>Alış <span>-Veriş</span> </h1>
                </div>
            </div>
        </div>
    </section>

    <section id="carts">
        <div class="container">
            <table class="table mt-5">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>


                </tbody>
            </table>



        </div>
    </section>




</main>


@section scripts{



    <script src="~/Public/js/main.js"></script>
    <script src="~/Public/js/service.js"></script>



}


