
@{
    ViewBag.Title = "Product";
}


@section styles{

    <!--page level css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Public/sass/style.css">


}

<main>
    <section id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="img-wrapper">
                        <img src="~/Public/image/product1.jpg" alt="">
                    </div>

                </div>
                <div class="col-lg-6 second">

                    <div class="text-holder">
                        <h3>Castrol EDGE 0W-40 A3B4 Advanced Full Synthetic Motor Oil, 5 QT</h3>

                        <div class="icon-holder">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <span class="sale">$33.55</span>
                        <span class="price">$31.55</span>


                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>



                        <span>Litr:</span>
                        <select name="Litr">
                            <option value="">Litr secin</option>

                            <option value="">0.33L</option>
                            <option value="">0.5L</option>
                            <option value="">1L</option>
                            <option value="">0.7L</option>
                        </select>

                        <div class="cart mt-5">
                            <input class="number" value="1" type="number" name="quantity" min="1" max="5">

                            <a proId=""   data-proprice="" data-proname="" class="addtocart" href=""><button type="button" class=" my-btn btn btn-success">Sebete elave edin</button></a>

                        </div>



                    </div>

                </div>
            </div>
        </div>
    </section>


</main>



@section scripts{

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="~/Public/js/checkout.js"></script>
    <script src="~/Public/js/main.js"></script>



}

