
@{
    ViewBag.Title = "Index";
}

@section styles{

    <!--page level css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Public/sass/style.css">


}

<main>
    <section id="Services">
        <div class="container-fluid">
            <div class="row">
                <div class="holder">
                    <div class="img-holder">
                    </div>
                    <div class="text-holder">
                        <h2>ALl Services</h2>
                        <ul>
                            <li><a href="~/Views/Home/Index.cshtml">Home</a> </li>
                            <li><i class="fas fa-angle-double-right"></i></li>
                            <li>Services</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section id="Offer">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="text-holder">
                        <h1>WHAT WE OFFER</h1>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                    </div>
                </div>
                <div class="col-lg-12 pt-5">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="holder">
                                <div class="icon">
                                    <span><i class="far fa-user"></i></span>
                                    <span>01</span>
                                </div>
                                <h4>international standards</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit modi sit nesciunt, officiis praesentium aspernatur incidunt enim repudiandae quis temporibus nisi.</p>
                                
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="holder">
                                <div class="icon">
                                    <span><i class="far fa-user"></i></span>
                                    <span>01</span>
                                </div>
                                <h4>international standards</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit modi sit nesciunt, officiis praesentium aspernatur incidunt enim repudiandae quis temporibus nisi.</p>
                               
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="holder">
                                <div class="icon">
                                    <span><i class="far fa-user"></i></span>
                                    <span>01</span>
                                </div>
                                <h4>international standards</h4>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit modi sit nesciunt, officiis praesentium aspernatur incidunt enim repudiandae quis temporibus nisi.</p>
                               
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>
    <section id="Firstservice" class="service1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center pb-3"> <h1>Lube Oil and Filter</h1></div>
                <div class="col-lg-6">
                    <div class="img-holder">
                        <img src="~/Public/image/image_02-480x320.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-holder">
                        <img src="~/Public/image/image_08-300x200.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <div class="text-holder pt-3">
                        <h2>Ilkin Xidmet</h2>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolorum totam enim expedita rerum laborum praesentium tenetur eaque maiores amet, maxime molestiae modi alias perspiciatis voluptate error nobis excepturi ratione.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae iure assumenda adipisci vero porro ullam asperiores est a voluptatibus dolores sit, nam veritatis blanditiis incidunt tenetur quo. Rerum, id aspernatur?
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias ut, exercitationem labore commodi mollitia fuga quasi ipsa! Ab molestiae nemo aspernatur aperiam ut aliquam, maiores quos hic, velit aliquid architecto!
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="Secondservice" class="service2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center pb-3"> <h1>Axxesuarlarin deyisdirilmesi</h1></div>
                <div class="col-lg-6">
                    <div class="img-holder">
                        <img src="~/Public/image/image_02-480x320.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="img-holder">
                        <img src="~/Public/image/image_08-300x200.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="text-holder pt-3">
                        <h2>Ilkin Xidmet</h2>
                        <hr>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolorum totam enim expedita rerum laborum praesentium tenetur eaque maiores amet, maxime molestiae modi alias perspiciatis voluptate error nobis excepturi ratione.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae iure assumenda adipisci vero porro ullam asperiores est a voluptatibus dolores sit, nam veritatis blanditiis incidunt tenetur quo. Rerum, id aspernatur?
                            <br>
                            <br>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias ut, exercitationem labore commodi mollitia fuga quasi ipsa! Ab molestiae nemo aspernatur aperiam ut aliquam, maiores quos hic, velit aliquid architecto!
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="Choose">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-folder">
                        <h4>WHY CHOOSE US</h4>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt placeat, sed quos aut blanditiis error pariatur dolores debitis ex incidunt, eius harum corporis corrupti, animi ducimus quidem architecto. Obcaecati, distinctio!</p>
                        <ul>
                            <li><i class="fas fa-check"></i> <span> We get the job done right — the first time</span></li>
                            <li><i class="fas fa-check"></i> <span> We get the job done right — the first time</span></li>
                            <li><i class="fas fa-check"></i> <span> We get the job done right — the first time</span></li>
                            <li><i class="fas fa-check"></i> <span> We get the job done right — the first time</span></li>
                            <li><i class="fas fa-check"></i> <span> We get the job done right — the first time</span></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="text-holder">
                        <h4>Property</h4>
                        <hr>
                    </div>
                    <div class="accardion-holder">
                        <button class="my-btn btn btn-danger"><i class="my-icon far fa-arrow-alt-circle-right"></i> <span>Section</span> </button>
                        <div class="accardion active">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero adipisci assumenda hic! Excepturi mollitia beatae, incidunt ab harum nemo commodi earum iste eaque, nostrum, vel blanditiis fuga neque natus accusantium.</p>

                        </div>
                        <button class="my-btn btn btn-danger"><i class="far fa-arrow-alt-circle-right"></i> <span>Section</span> </button>
                        <div class="accardion">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero adipisci assumenda hic! Excepturi mollitia beatae, incidunt ab harum nemo commodi earum iste eaque, nostrum, vel blanditiis fuga neque natus accusantium.</p>

                        </div>
                        <button class="my-btn btn btn-danger"><i class=" far fa-arrow-alt-circle-right"></i> <span>Section</span> </button>
                        <div class="accardion">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero adipisci assumenda hic! Excepturi mollitia beatae, incidunt ab harum nemo commodi earum iste eaque, nostrum, vel blanditiis fuga neque natus accusantium
                        </div>
                        .</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{

 
    <script src="~/Public/js/checkout.js"></script>
    <script src="~/Public/js/main.js"></script>
    <script src="~/Public/js/service.js"></script>



}

